version: '3.5'

services:
  rescope.build:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  rescope.test:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    entrypoint: dotnet test -c Release --no-build --logger trx --results-directory /var/temp/test-results
    volumes: 
      - /opt/vsts/work/_temp/test-results:/var/temp/test-results 
