version: '3.5'

services:
  rescope.build:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  rescope.test:
    entrypoint: dotnet test --no-build --logger trx --results-directory /var/temp/test-results
    volumes: 
      - $(Build.ArtifactStagingDirectory)/test-results:/var/temp
