version: '3.5'

services:
  rescope.build:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  rescope.test:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    entrypoint: dotnet test -c Release --no-build --logger trx --results-directory /var/temp/test-results  
    volumes: 
      - ${BUILD_ARTIFACT_STAGING_DIRECTORY}/test-results:/var/temp/test-results

  rescope.pack:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    entrypoint: ["bash", "/scripts/pack.entrypoint.sh"]
    volumes: 
      - ${BUILD_ARTIFACT_STAGING_DIRECTORY}/pack:/var/temp/pack