version: '3.5'

services:
  rescope.build:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  rescope.test:
    entrypoint:
      - dotnet
      - test
      - --no-build
      - --logger
      - trx;LogFileName=/tests/test-results.trx
    volumes: 
      - ${BUILD_ARTIFACTSTAGINGDIRECTORY:-./tests/}:/tests